In [38]:
import numpy as np
import random
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [39]:
def predict(x,w,b):
    # Predicted value
    f=w*x+b
    return f
def accuracy(f,y):
    correct=0
    for i in range(len(y)):
        if abs(f[i]-y[i])<=0.1:
            correct+=1
    acc=correct/len(y)
    return acc
def costf(y,f):
    n=len(y)
    J=np.sum((y-f)**2)/(2*n)
    return J
def modify(f,w,b,a,x,y):
    # a is the learning rate
    n=len(x)
    w=w-(a/n)*np.sum(np.multiply(x,(f-y)))
    b=b-(a/n)*np.sum(f-y)
    return (w,b)
def model(x,y):
    a=0.1
    w=b=random.random()
    f=predict(x,w,b)
    J=costf(y,f)
    c=0
    J_naught=0.1
    while J>J_naught:
        J_prev=J
        w,b=modify(f,w,b,a,x,y)
        f=predict(x,w,b)
        J=costf(y,f)
        if J_prev<J:
            c+=1
        if c>=5:
            a*=0.1
            w=b=0
            f=predict(x,w,b)
            J=costf(y,f)
            c=0
        if J_prev>J and J_prev-J<=a*10**(-3):
            break
        

    return (w,b)
def linreg(x,y):
    w,b=model(x,y)
    y_predicted=predict(x,w,b)
    return [y_predicted,accuracy(y_predicted,y),w,b]

In [40]:
df=pd.read_csv("D:\ML Projects\Linear Regression Implementation\weatherHistory.csv")
df.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [41]:
df=df[['Apparent Temperature (C)','Temperature (C)']]
df.head()

   Apparent Temperature (C)  Temperature (C)
0                  7.388889         9.472222
1                  7.227778         9.355556
2                  9.377778         9.377778
3                  5.944444         8.288889
4                  6.977778         8.755556

In [42]:
x=np.transpose(df['Temperature (C)'].values) #Feature
y=np.transpose(df['Apparent Temperature (C)'].values)#Target

In [43]:
# Splitting into training and testing data
X_train,X_test,y_train,y_test=train_test_split(x,y,random_state=0)

In [44]:
w,b=model(X_train,y_train)
print("My Model Parameters:\n w={} \n b={}".format(w,b))
print("Accuracy on training data:",accuracy(predict(X_train,w,b),y_train))
print("Accuracy on testing data:",accuracy(predict(X_test,w,b),y_test))

My Model Parameters:
 w=1.1077240875712362
 b=-2.333602645571277
Accuracy on training data: 0.07097139855403033
Accuracy on testing data: 0.06838351165298168

In [45]:
clf=LinearRegression().fit(X_train.reshape(-1,1),y_train.reshape(-1,1))
w,b=(clf.coef_[0][0],clf.intercept_[0])

print("InBuilt Model Parameters:\n w={} \n b={}".format(w,b))
print("Accuracy on training data:",accuracy(clf.predict(X_train.reshape(-1,1)),y_train))
print("Accuracy on testing data:",accuracy(clf.predict(X_test.reshape(-1,1)),y_test))

InBuilt Model Parameters:
 w=1.1118662102721102
 b=-2.4146281236748486
Accuracy on training data: 0.06887018067708982
Accuracy on testing data: 0.06747117856846645